
html{
    border: solid;
    width: 100%;
    height: 100%
}
body{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
main, .content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
#menu-principal{
    display: block;
    height: 60px;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background-color:#7385da;
    
}
#header-1{
    display: block;
    margin: 0;
    padding: 0;
    top: 20px;
    left: -6px;
    margin-right: 48px;
    margin-left: 241px;  
}

#logo{
    display: block;
    float: left;
    padding: 13px;

}
#logo img{
    max-width: 129px;
    max-height: 45px;
    margin-left: -280px;
}
#voltar-tela{
    max-width: 129px;
    max-height: 45px;
    float: right;
    padding: 4px;


}
#barra-pesquisa{
    display: none;
    position: absolute;
    float: left;
    top: 11px;
    left:600px;
}

#barra-pesquisa input{
    background-image: url(../img/icone-search.png);
    background-repeat: no-repeat;
    background-position: 98%;
    height: 20px;
    width: 370px;
    padding: 3px;
    margin-top: 5px;
    border: 1px solid #d6d6d6;
}
#carousel {
    border:solid;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    background-size: 100%;
    margin: auto;
    align-conten t: center;
    background-repeat: no-repeat;  
 
}
#esquerda {
    float: left;
    position: absolute;
    top: 90px;
    left: 120px;
}

#direita{
    float: right;
    position: absolute;
    top: 90px;
    right: 120px;
}

button{
    width: 25px;
    height: 51px;
    font-weight: 800;
    border: none;
    background-color: transparent;
}