body{
    /* tira a margem do body */
    /* margin: 0px; */

}



.containerFlex{

    display: flex;
    background-color: blue; 
    /* flex-direction: column; */
    height: 98vh;
    background-image: url(../imgs/A_page-0011.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
   
}


article{

    background-color: green;
    flex: 2;
    
}

nav{

    background-color: aqua;
    flex: 1;
}
